<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quester.demo"
    coreApp="true"
    android:sharedUserId="android.uid.system" >

    <uses-permission android:name="android.permission.SERIAL_PORT" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    
    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

		<uses-library android:name="com.quester.android.platform_library" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="standard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".barcode.BarcodeActivity"
            android:label="@string/title_barcode"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
            <intent-filter>
                <action android:name="quester.intent.action.barcode" />
                <category android:name="android.intent.category.DEFAULT"/> 
            </intent-filter>
        </activity>
        <service
            android:name=".barcode.BarcodeService"
            android:enabled="true" >
        </service>
        <receiver android:name=".barcode.BarcodeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <activity
            android:name=".nfc.NfcActivity"
            android:label="@string/title_nfc"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <!-- <data android:mimeType="application/vnd.com.example.android.beam" /> -->
            </intent-filter>
            <meta-data 
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        
        <activity
            android:name=".infrared.InfraredActivity"
            android:label="@string/title_infrared"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        
        <activity
            android:name=".scard.SCardActivity"
            android:label="@string/title_scard"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" >
        </activity>
        
        <activity
            android:name=".gps.GpsActivity"
            android:label="@string/title_gps"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" >
        </activity>
        
        <activity
            android:name=".sensor.SensorActivity"
            android:label="@string/title_sensor"
            android:screenOrientation="sensor"
            android:launchMode="singleTask" >
        </activity>
        
        <activity
            android:name=".tp.TouchpanelActivity"
            android:label="@string/title_tp"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" >
        </activity>
    </application>

</manifest>
